<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/swdjk/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Department Of Social Welafare - JK-ISSS Pension</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SahayataNidhi.styles.css" asp-append-version="true" />
</head>

<body>
    <!-- React will mount here -->
    <div id="root"></div>

    <!-- Runtime config (must be first) -->
    <script src="config.js"></script>

    <!-- Include the bundled React file -->
    <script src="~/js/bundle.js"></script>

    @RenderBody()
</body>

</html>