html,body,#root{
  margin: 0;
  padding: 0;
}

.skiptranslate iframe{
  display: none;
}
#goog-gt-tt{
  display: none !important;
}

#google_translate_element{
  display: flex;
  align-items: center;
}

.goog-te-gadget-simple{
  border-radius: 25px !important;
}

/* Container adjustments */
#google_translate_element {
  font-size: 0.9rem;
  color: #1D4ED8;
}

/* Hide the "Powered by Google" text */
#google_translate_element .goog-logo-link {
  display: none !important;
}

/* Style the dropdown */
#google_translate_element select.goog-te-combo {
  border: 1px solid #1D4ED8;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: white;
  color: #1D4ED8;
  font-weight: bold;
}

/* Optional: Remove iframe border */
.goog-te-banner-frame {
  display: none !important;
}
